* {
  margin: 0;
  padding: 0;
}
html {
  background: #5c6b8f -webkit-linear-gradient(#6c7989, #434b55) fixed;
  background: #5c6b8f -moz-linear-gradient(#6c7989, #434b55) fixed;
  background: #5c6b8f -o-linear-gradient(#6c7989, #434b55) fixed;
  background: #5c6b8f -ms-linear-gradient(#6c7989, #434b55) fixed;
  background: #5c6b8f linear-gradient(#6c7989, #434b55) fixed;
  background-image: url("../img/checker.png");
  background-attachment: local;
  font-size: 16px;
}
body {
  padding: 50px 0;
  margin: 0;
  font: 1em/1.5 "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #555;
  background: transparent;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
  background: #5c6b8f;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 0 1px, rgba(0,0,0,0.45) 0 3px 10px;
  box-shadow: rgba(0,0,0,0.2) 0 0 0 1px, rgba(0,0,0,0.45) 0 3px 10px;
}
header,
section,
footer {
  display: block;
}
a {
  color: #069;
}
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
p {
  margin: 0 0 20px;
  padding: 0;
}
strong {
  color: #222;
  font-weight: 700;
}
.content {
  background-image: url("../img/back.gif");
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #fff;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.fa:before {
  margin-right: 7px;
}
i.fa {
  margin-right: 7px;
}
i.fa:before {
  margin-right: 0;
}
code {
  background: #777 none repeat scroll 0% 0%;
  margin: 0 3px;
  padding: 2px 6px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px #000 inset;
  box-shadow: 0px 1px 3px #000 inset;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
  font-size: 0.9em;
  font-family: Monaco, Courier New, Courier, monospace;
}
#header {
  border-radius: 8px 8px 0 0;
  background: #c6eafa -webkit-linear-gradient(#ddfbfc, #c6eafa);
  background: #c6eafa -moz-linear-gradient(#ddfbfc, #c6eafa);
  background: #c6eafa -o-linear-gradient(#ddfbfc, #c6eafa);
  background: #c6eafa -ms-linear-gradient(#ddfbfc, #c6eafa);
  background: #c6eafa linear-gradient(#ddfbfc, #c6eafa);
  position: relative;
  padding: 15px 30px;
  border-bottom: 1px solid #b2d2e1;
}
#header .title {
  float: left;
}
#header .nav {
  float: right;
  font-size: 0.875em;
  font-family: "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 2.5em;
  margin-top: 10px;
}
#header .nav ul {
  list-style: none;
}
#header .nav ul li {
  float: left;
  margin-left: 26px;
}
#header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2;
  color: #069;
  text-shadow: rgba(255,255,255,0.9) 0 1px 0;
}
#header.without-description h1 {
  margin: 10px 0;
}
#header p {
  margin: 0;
  color: #61778b;
  width: 240px;
  font-size: 0.8125em;
  font-style: italic;
}
article {
  padding: 15px 30px;
  position: relative;
}
article.page .icon {
  display: none;
}
article.post .icon:before {
  content: '\f0f6';
}
article.summary .icon:before {
  content: '\f03a';
}
article.photo .icon:before {
  content: '\f030';
}
article.link .icon:before {
  content: '\f0c1';
}
article .gallery {
  margin: 0 -30px;
  overflow: hidden;
  position: relative;
}
article .gallery:hover .control {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
article .gallery:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
@media screen and (max-width: 1024px) {
  article .gallery:hover img {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
  }
}
article .gallery img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
article .gallery .control {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
article .gallery .prev,
article .gallery .next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
article .gallery .prev:before,
article .gallery .next:before {
  position: absolute;
  font: 24px/1 FontAwesome;
  text-align: center;
  width: 24px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
  color: #fff;
  margin-top: -12px;
  top: 50%;
}
article .gallery .prev {
  left: 0;
}
article .gallery .prev:before {
  content: '\f053';
  left: 10px;
}
article .gallery .next {
  right: 0;
}
article .gallery .next:before {
  content: '\f054';
  right: 10px;
}
article header {
  background: none;
  position: relative;
  padding: 0;
  border-bottom: 0;
  margin-bottom: 10px;
}
article header .icon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -46px;
  color: #fff;
  background: #069;
  border-radius: 100em;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
@media screen and (max-width: 1024px) {
  article header .icon {
    display: none;
  }
}
article header .icon:before {
  position: absolute;
  font: 20px FontAwesome;
  top: 6px;
  left: 0;
  width: 32px;
  text-align: center;
}
article header time {
  font: 0.9em "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  display: block;
  line-height: 1;
}
article header .title {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-shadow: rgba(255,255,255,0.9) 0 1px 0;
}
article header .title a {
  color: #222;
}
article header .title a:hover {
  color: #069;
}
article .entry {
  font-size: 0.95em;
  text-align: justify;
  line-height: 1.6;
}
@media screen and (max-width: 1024px) {
  article .entry {
    font-size: 18px;
  }
}
article .entry h1,
article .entry h2,
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  color: #222;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}
article .entry p,
article .entry ul,
article .entry ol,
article .entry table,
article .entry dl {
  margin: 0 0 20px;
}
article .entry p {
  white-space: pre-wrap;
  word-wrap: break-word;
}
article .entry h1,
article .entry h2,
article .entry h3 {
  line-height: 1.1;
}
article .entry h1 {
  font-size: 1.75em;
}
@media screen and (max-width: 1024px) {
  article .entry h1 {
    font-size: 1.2em;
  }
}
article .entry h2 {
  font-size: 1.5em;
  color: #393939;
}
@media screen and (max-width: 1024px) {
  article .entry h2 {
    font-size: 1em;
  }
}
article .entry h3 {
  font-size: 1.2em;
}
article .entry h3,
article .entry h4,
article .entry h5,
article .entry h6 {
  color: #494949;
}
article .entry img,
article .entry video {
  max-width: 98%;
  border-radius: 3px;
  padding: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 8px #aaa;
  box-shadow: 0 0 8px #aaa;
}
article .entry img.nstyle,
article .entry video.nstyle {
  border-radius: 0;
  padding: 0;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
article .entry iframe {
  max-width: 98%;
}
article .entry .caption {
  display: block;
  margin: 14px 0;
  color: #aaa;
  font-size: 0.9em;
}
article .entry .caption:before {
  vertical-align: -1px;
  margin-right: 7px;
  content: '\f0c6';
  font: 1.3em FontAwesome;
}
article .entry pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 0.8em;
  padding: 10px 30px;
  background: #3a3c42;
  color: #f8f8f2;
  margin: 0 -30px 16px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 8px;
  border: none;
}
@media screen and (max-width: 1024px) {
  article .entry pre {
    margin: 0 -20px 16px;
    padding: 10px 20px;
  }
}
li article .entry pre {
  margin-left: -60px;
  padding-left: 60px;
}
article .entry .gist article {
  padding: 10px;
}
article .entry .gist table {
  margin: 0;
}
article .entry .gist table td {
  border-bottom: 0;
}
article .entry .gist table td.line-numbers {
  font-size: 12px;
}
article .entry .gist pre {
  margin: 0 -10px 16px;
  padding: 10px 20px;
  background: #f8f8f8;
  color: #333;
}
article .entry table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
article .entry th,
article .entry td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}
article .entry dt {
  color: #222;
  font-weight: 700;
}
article .entry th {
  color: #222;
}
article .entry small {
  font-size: 0.7em;
}
article .entry hr {
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 0 0 20px;
}
article .entry .text-lt {
  text-decoration: line-through;
}
article footer {
  border-top: 1px solid #5c6b8f;
  padding: 12px 0 0 0;
  margin-top: 12px;
  font-size: 0.8em;
}
article footer .categories,
article footer .tags,
article footer .shares {
  margin: 5px 0;
}
article footer .categories:before {
  content: '\f07b';
}
article footer .tags:before {
  content: '\f02b';
}
ul,
ol,
dl {
  list-style: none;
}
ul ul,
ol ul,
dl ul,
ul ol,
ol ol,
dl ol,
ul dl,
ol dl,
dl dl {
  margin-left: 20px;
}
ul ul li:before,
ol ul li:before,
dl ul li:before,
ul ol li:before,
ol ol li:before,
dl ol li:before,
ul dl li:before,
ol dl li:before,
dl dl li:before {
  content: '> ';
}
article.post ol li,
article.post ul li {
  margin: 0 2em 1em;
}
@media screen and (max-width: 1024px) {
  article.post ol li,
  article.post ul li {
    margin: 0 1em 1em;
  }
}
article.post ol li:before,
article.post ul li:before {
  margin-right: 7px;
}
article.post ol li:before {
  content: '✿';
}
article.post ul li:before {
  content: '❀';
}
article.post p em {
  color: #222;
  font-weight: 700;
}
article.post p em:before {
  margin-right: 5px;
  content: '★';
}
article .entry blockquote,
article.summary blockquote,
article.toc blockquote {
  margin: 0 -30px 20px;
  padding: 18px 30px 1px 30px;
  border-left: none;
  font-style: italic;
  font-size: 1em;
  background: #ccc;
  background: rgba(0,0,0,0.06);
  color: #222;
}
article .entry blockquote p,
article.summary blockquote p,
article.toc blockquote p {
  margin-bottom: 14px;
}
article .entry blockquote footer,
article.summary blockquote footer,
article.toc blockquote footer {
  padding: 0 0 14px 0;
  border-top: none;
  text-align: right;
}
article .entry blockquote footer cite:before,
article.summary blockquote footer cite:before,
article.toc blockquote footer cite:before {
  content: '《';
  padding-left: 1em;
}
article .entry blockquote footer cite:after,
article.summary blockquote footer cite:after,
article.toc blockquote footer cite:after {
  content: '》';
}
article.summary,
article.toc {
  text-align: left;
}
article.summary ul,
article.toc ul,
article.summary ol,
article.toc ol {
  margin-bottom: 0;
}
article.summary ul li,
article.toc ul li,
article.summary ol li,
article.toc ol li {
  border-bottom: 1px dashed #5c6b8f;
  padding: 7px 0 5px;
}
article.summary ul li:first-child,
article.toc ul li:first-child,
article.summary ol li:first-child,
article.toc ol li:first-child {
  padding-top: 0;
}
article.summary ul li:before,
article.toc ul li:before,
article.summary ol li:before,
article.toc ol li:before {
  display: none;
}
article.summary ul li:last-child,
article.toc ul li:last-child,
article.summary ol li:last-child,
article.toc ol li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
article.summary ul ul,
article.toc ul ul,
article.summary ol ul,
article.toc ol ul,
article.summary ul ol,
article.toc ul ol,
article.summary ol ol,
article.toc ol ol {
  border-top: 1px dashed #5c6b8f;
  margin-left: 0;
  margin-top: 5px;
}
article.summary ul ul li,
article.toc ul ul li,
article.summary ol ul li,
article.toc ol ul li,
article.summary ul ol li,
article.toc ul ol li,
article.summary ol ol li,
article.toc ol ol li {
  font-size: 0.93em;
  margin-left: 2em;
}
article.summary ul ul li:first-child,
article.toc ul ul li:first-child,
article.summary ol ul li:first-child,
article.toc ol ul li:first-child,
article.summary ul ol li:first-child,
article.toc ul ol li:first-child,
article.summary ol ol li:first-child,
article.toc ol ol li:first-child {
  padding-top: 7px;
}
footer.end-sep {
  position: relative;
  border-bottom: 1px dashed #5c6b8f;
  padding-bottom: 10px;
  margin: -20px 30px 0;
  font-size: 0.8em;
}
footer.end-sep:last-child {
  border-bottom: none;
  padding-bottom: 15px;
}
aside {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 500px;
  z-index: 0;
}
aside .action {
  margin-bottom: 10px;
}
aside .action li {
  padding: 12px 10px 12px 12px;
}
aside .page li {
  padding: 24px 10px 24px 12px;
}
aside ul {
  border: 1px solid #505157;
  border-bottom: none;
  border-radius: 4px;
}
aside ul li {
  border-bottom: 1px solid #505157;
}
aside ul li,
aside ul li a,
aside ul li a:visited {
  font: 1.5em FontAwesome;
  cursor: pointer;
  color: #616267;
}
aside ul li:hover,
aside ul li a:hover,
aside ul li a:visited:hover {
  color: #c4612c;
}
aside ul li.icon-screenshot:before {
  content: '\f05b';
}
aside ul li.icon-fullscreen:before {
  content: '\f0b2';
}
aside ul li.icon-arrow-up {
  display: none;
}
aside ul li.icon-arrow-up:before {
  content: '\f062';
}
aside ul li.icon-toc:before {
  content: '\f0ca';
}
aside ul li.icon-summary:before {
  content: '\f03a';
}
aside ul li.icon-comment:before {
  content: '\f086';
}
aside ul li.icon-prev {
  padding-left: 10px;
}
aside ul li.icon-prev a:before {
  content: '\f053';
}
aside ul li.icon-next a:before {
  content: '\f054';
}
.category-list {
  font-size: 0.9em;
  padding: 15px 20px;
}
.category-list-count {
  margin-left: 8px;
  font-size: 0.8em;
  color: color-meta;
}
.category-list-count:before {
  content: '(';
}
.category-list-count:after {
  content: ')';
}
.remodal {
  padding: 30px;
  color: #555;
  border-radius: 8px;
  background-image: url("../img/back.gif");
}
.remodal article {
  padding: 0;
  margin: 0;
  margin-top: 1em;
}
.remodal article blockquote {
  margin: 0 -15px 20px;
  border-radius: 8px;
  font-size: 0.8em;
  margin-top: 10px;
}
#pagination {
  padding-bottom: 20px;
}
#pagination a {
  display: block;
  padding: 5px 10px;
  font-family: "Droid Serif", Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #069;
  color: #fff;
  text-decoration: none;
}
#pagination .prev {
  float: left;
}
#pagination .prev:before {
  content: '\f053';
  padding-right: 10px;
  font-family: FontAwesome;
}
#pagination .next {
  float: right;
}
#pagination .next:after {
  content: '\f054';
  padding-left: 10px;
  font-family: FontAwesome;
}
#footer {
  width: 960px;
  margin: 20px auto 0;
  padding: 20px 0 0;
  font-size: 0.875em;
  color: #ccc;
  overflow: hidden;
  text-align: center;
}
#footer a {
  color: #fff;
  font-style: italic;
}
@media screen and (max-width: 1024px) {
  body {
    padding: 0;
  }
  .wrapper {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }
  .wrapper .content {
    border-radius: 0;
  }
  #footer {
    margin: 0 auto;
    padding: 10px;
    width: auto;
    text-align: left;
  }
  #header {
    border-radius: 0;
    padding: 15px 20px;
  }
  #header .title {
    float: none;
  }
  #header .nav ul li {
    margin-left: 10px;
  }
  #header p {
    width: 100%;
  }
  article {
    padding: 15px 20px;
  }
  article .gallery {
    margin: 0 -20px;
  }
  article .entry blockquote {
    margin: 0 -20px 20px;
    padding: 18px 20px 1px;
  }
}
figure.highlight {
  margin: 0 -30px 16px;
  padding: 0 30px;
  background: #3a3c42;
}
@media screen and (max-width: 580px) {
  figure.highlight {
    margin: 0 -20px 16px;
    padding: 0 20px;
  }
}
figure.highlight pre {
  margin: 0 -30px 0px;
}
@media screen and (max-width: 580px) {
  figure.highlight pre {
    margin: 0 -20px 0px;
  }
}
figure.highlight table {
  margin: 0;
  border-spacing: 0;
}
figure.highlight td {
  padding: 0;
  border-bottom: 0;
}
figure.highlight .gutter {
  width: 20px;
}
@media screen and (max-width: 580px) {
  figure.highlight .gutter {
    display: none;
  }
}
figure.highlight .gutter pre {
  position: relative;
  padding: 10px 0 10px 20px;
  border-right: 1px solid #fff;
  height: 100%;
  width: 40px;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
.gist .highlight {
  background: #fff;
}
.gist .highlight .c {
  color: #998;
  font-style: italic;
}
.gist .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.gist .highlight .k {
  font-weight: bold;
}
.gist .highlight .o {
  font-weight: bold;
}
.gist .highlight .cm {
  color: #998;
  font-style: italic;
}
.gist .highlight .cp {
  color: #999;
  font-weight: bold;
}
.gist .highlight .c1 {
  color: #998;
  font-style: italic;
}
.gist .highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.gist .highlight .gd {
  color: #000;
  background-color: #fdd;
}
.gist .highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.gist .highlight .ge {
  font-style: italic;
}
.gist .highlight .gr {
  color: #a00;
}
.gist .highlight .gh {
  color: #999;
}
.gist .highlight .gi {
  color: #000;
  background-color: #dfd;
}
.gist .highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.gist .highlight .go {
  color: #888;
}
.gist .highlight .gp {
  color: #555;
}
.gist .highlight .gs {
  font-weight: bold;
}
.gist .highlight .gu {
  color: #800080;
  font-weight: bold;
}
.gist .highlight .gt {
  color: #a00;
}
.gist .highlight .kc {
  font-weight: bold;
}
.gist .highlight .kd {
  font-weight: bold;
}
.gist .highlight .kn {
  font-weight: bold;
}
.gist .highlight .kp {
  font-weight: bold;
}
.gist .highlight .kr {
  font-weight: bold;
}
.gist .highlight .kt {
  color: #458;
  font-weight: bold;
}
.gist .highlight .m {
  color: #099;
}
.gist .highlight .s {
  color: #d14;
}
.gist .highlight .n {
  color: #333;
}
.gist .highlight .na {
  color: #008080;
}
.gist .highlight .nb {
  color: #0086b3;
}
.gist .highlight .nc {
  color: #458;
  font-weight: bold;
}
.gist .highlight .no {
  color: #008080;
}
.gist .highlight .ni {
  color: #800080;
}
.gist .highlight .ne {
  color: #900;
  font-weight: bold;
}
.gist .highlight .nf {
  color: #900;
  font-weight: bold;
}
.gist .highlight .nn {
  color: #555;
}
.gist .highlight .nt {
  color: #000080;
}
.gist .highlight .nv {
  color: #008080;
}
.gist .highlight .ow {
  font-weight: bold;
}
.gist .highlight .w {
  color: #bbb;
}
.gist .highlight .mf {
  color: #099;
}
.gist .highlight .mh {
  color: #099;
}
.gist .highlight .mi {
  color: #099;
}
.gist .highlight .mo {
  color: #099;
}
.gist .highlight .sb {
  color: #d14;
}
.gist .highlight .sc {
  color: #d14;
}
.gist .highlight .sd {
  color: #d14;
}
.gist .highlight .s2 {
  color: #d14;
}
.gist .highlight .se {
  color: #d14;
}
.gist .highlight .sh {
  color: #d14;
}
.gist .highlight .si {
  color: #d14;
}
.gist .highlight .sx {
  color: #d14;
}
.gist .highlight .sr {
  color: #009926;
}
.gist .highlight .s1 {
  color: #d14;
}
.gist .highlight .ss {
  color: #990073;
}
.gist .highlight .bp {
  color: #999;
}
.gist .highlight .vc {
  color: #008080;
}
.gist .highlight .vg {
  color: #008080;
}
.gist .highlight .vi {
  color: #008080;
}
.gist .highlight .il {
  color: #099;
}
.gist .highlight .gc {
  color: #999;
  background-color: #eaf2f5;
}
.gist .type-csharp .highlight .k {
  color: #00f;
}
.gist .type-csharp .highlight .kt {
  color: #00f;
}
.gist .type-csharp .highlight .nf {
  color: #000;
  font-weight: normal;
}
.gist .type-csharp .highlight .nc {
  color: #2b91af;
}
.gist .type-csharp .highlight .nn {
  color: #000;
}
.gist .type-csharp .highlight .s {
  color: #a31515;
}
.gist .type-csharp .highlight .sc {
  color: #a31515;
}
